.centerX {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%)
}
.centerY {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
.centerAll {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}
body {
    width: 100%;
    height: 90vh;
    max-height: 90vh;
    font-family: hankenbook
}
.bold {
    font-weight: 700
}
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999
}
.detail-modal {
    width: 75%;
    height: 90%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    overflow-y: scroll;
    background-color: #E6E6E6
}
.detail-modal .review-title {
    font-family: fabfeltscriptbold;
    width: 20%;
    border-bottom: 1px solid grey;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 15px;
    text-align: center;
    font-size: 3vh
}
.detail-modal .review-x {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer
}
.detail-modal .review-image {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 15px;
    text-align: center;
    width: 35vh;
    height: 35vh
}
.detail-modal .review-detail {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center
}
.detail-modal .review {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 65vw;
    min-height: 15vh;
    background-color: #E9E9E9;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 15px
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10vh;
    background-color: #885388;
    margin: 0;
    border-radius: 0;
    z-index: 9998;
    font-family: hankenbook!important
}
.navbar .item {
    height: 100%;
    transition: .5s ease all;
    -webkit-transition: .5s ease all
}
.navbar .item:hover {
    background-color: #fff;
    transition: .5s ease all;
    -webkit-transition: .5s ease all
}
.navbar .item a {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-decoration: none
}
.navbar .item:hover a {
    color: #885388
}
.title {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: right;
    padding-right: 25px;
    font-size: 5vh;
    color: #fff;
    font-family: fabfeltscriptbold
}
.flex {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.main {
    margin-top: 10vh;
    height: 100%
}
.page {
    position: absolute;
    background-color: #fff;
    opacity: 1;
    width: 100%;
    height: 90vh
}
#home {
    width: 100%;
    height: 100%;
    line-height: 2
}
#home #intro {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 10%;
    width: 100%;
    text-align: center
}
#home #intro .bold {
    font-size: 2em
}
#home #intro .dish-search {
    margin-top: 25px;
    width: 50%;
    height: 45px;
    padding: 5px
}
#home #intro .dish-search:focus,
#home #intro .choice-by:focus,
#home #intro .search-submit:focus {
    outline: 0
}
#home #intro .choice-by {
    margin-right: -5px;
    height: 45px;
    padding: 5px
}
#home #intro .search-submit {
    height: 45px;
    color: #fff;
    background: #885388;
    margin-left: -5px;
    border-radius: 0;
    border: 0
}
#home #intro .search-submit span {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}
#search {
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
}
#search .query-bar {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 75%;
    top: 15px;
    border-bottom: 1px solid grey;
    text-align: center;
    color: grey
}
#search #search-results {
    max-width: calc(4 * 280px);
    height: calc(100% - 10vh);
    margin: auto;
    margin-top: 30px;
}
#search #search-results .dish {
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    /*text-align: center;*/
    height: 250px;
    width: 250;
    margin: 0 10px 20px 10px;
    border-bottom: 1px solid grey;
    position: relative;
    cursor: pointer;
}
#search #search-results .dish .info {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /*background-color: rgba(255, 255, 255, .55);*/
    color: white;
    font-size: 2vh;
    /*color: #4C4C4C;*/
    color: white;
    opacity: 1;

    background-color: rgba(0, 0, 0, .55);

    /* HOVER OFF */
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}
#search #search-results .dish .info:hover {
    background-color: rgba(0, 0, 0, 0);
}
#search #search-results .dish .info .wrapper {
  position: absolute;
  width: auto;
  top: 50%;
  width: 100%;
  padding: 15px;

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
#search #search-results .dish .info .wrapper.small_info{
  top: 0;
  padding: 5px 15px;
  transform: none;
  -webkit-transform: none;
  background-color: rgba(0, 0, 0, .55);
}
#search #search-results .dish .info .dish-name {
  font-size: 150%;
  width: 100%;
}
#search #search-results .dish .resto-name {
  font-size: 120%;
  font-weight: bold;
}
#search #search-results .dish .info .rating {
  padding: 5px 0;
  height: 2em;
  -webkit-transition: all 300ms ease .1s;
  -moz-transition: all 300ms ease .1s;
  -o-transition: all 300ms ease .1s;
  -ms-transition: all 300ms ease .1s;
  transition: all 300ms ease .1s;
}
#search #search-results .dish .info .wrapper.small_info .rating {
  padding: 0;
  height: 0;
  opacity: 0;
}
#search #search-results .dish .info .price {
  padding-top: 5px;
  height: 1em;
  -webkit-transition: all 300ms ease .1s;
  -moz-transition: all 300ms ease .1s;
  -o-transition: all 300ms ease .1s;
  -ms-transition: all 300ms ease .1s;
  transition: all 300ms ease .1s;
}
#search #search-results .dish .info .wrapper.small_info .price {
  padding: 0;
  height: 0;
  opacity: 0;
}
#search #search-results .dish .dish-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#search #search-results .last {
    width: 100%
}
.ng-leave,
.ng-leave-active {
    -webkit-animation: fadeOut .5s;
    -moz-animation: fadeOut .5s;
    animation: fadeOut .5s;
    z-index: 9999
}
.ng-enter,
.ng-enter-active {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
    z-index: 8888
}
#load {
    opacity: 1
}
#load.ng-hide-add.ng-hide-add-active,
#load.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear .5s;
    transition: all linear .5s
}
#load.ng-hide {
    opacity: 0
}
#load {
    width: 100%;
    height: 100%
}
#load img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 7%
}
#modal-overlay.ng-hide-add.ng-hide-add-active {
    -webkit-animation: fadeOut .3s;
    -moz-animation: fadeOut .3s;
    animation: fadeOut .3s
}
#modal-overlay.ng-hide-remove.ng-hide-remove-active {
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s
}

/* ---------- Properties ---------- */

.break-word {
  word-wrap: break-word;
}

.animate-all-fast {

}