<div id="home">
	<div id="cover"></div>
	<div class="home_title">DishOut</div>
	<div class="home_subtitle">
		Dishout is for people who want to make the most out of their meal.<br/>
		Start typing below to find something delicious.<br/>
	</div>

	<div id="intro">
		<select class="choice-by" ng-model="selection">
			<option value="dish" selected>By Dish</option>
			<option value="restaurant_id">By Restaurant</option>
			<option value="location">By Location</option>
		</select>
		<input class="dish-search" type="text" ng-model="searchQuery" placeholder="Yum." />
		<input class="location-search" type="text" ng-model="searchLocation" placeholder="Near..." />
		<a href="#search" class="search-submit btn btn-default" ng-click="submitSearch(selection, searchQuery, searchLocation)"><span>GO</span></a>
	</div>
</div>