<div id="home">
	<div id="intro">
		DishOut is for people who need help deciding what's for dinner.<br />
		<span class="bold">Start typing below to find something delicious.</span><br />

		<select class="choice-by" ng-model="selection">
			<option value="dish" selected>By Dish</option>
			<option value="restaurant_id">By Restaurant</option>
			<option value="location">By Location</option>
		</select>
		<input class="dish-search" type="text" ng-model="searchQuery" placeholder="Yum." />
		<a href="#search" class="search-submit btn btn-default" ng-click="submitSearch(selection, searchQuery)"><span>GO</span></a>
	</div>
</div>