<html>
	<head>
	  <title>DishOut</title>
	  <script src="../static/lib/jquery.min.js"></script>
	  <link rel="stylesheet" href="../static/lib/bootstrap.min.css" />
	  <script src="../static/lib/bootstrap.min.js"></script>
	  <script src="../static/lib/angular.min.js"></script>
	  <script src="../static/lib/angular-animate.min.js"></script>
	  <script src="../static/lib/angular-route.min.js"></script>
	</head>
	<body ng-app="dishout">
		<div ng-controller="mainCtrl">Search for dishes yay!</div>
	  
	  
	  <script src="../static/app.js"></script>
	  <script src="../static/js/main.js"></script>
	</body>
</html>